Scope: Our project is to uncover data trends among all star MLB pitchers from 2016-2021. We will examine relationships between their strikeout %, ERA (earned run average) , BB (walk)%, in their all star seasons, as well as some of their physical dimensions and place of birth (state if domestic, country if foreign born).

In [1]:
import pandas as pd
from pprint import pprint
import requests

In [2]:
fpath = 'Resources/2015-2020_alldata_clean.csv'
player_stats= pd.read_csv(fpath)
fpath = 'Resources/2015_2019_All_Star_Rosters.csv'
allstar_rosters=pd.read_csv(fpath)

In [3]:
df1 = player_stats[player_stats.isna().any(axis=1)]
df1.to_csv('Resources/removed.csv')

In [4]:
stats_df = player_stats.dropna()
roster_df = allstar_rosters

In [5]:
stats_df

,Rk,Player,Year,Age,Tm,Lg,G,GS,CG,SHO,...,PO,BK,WP,BA,OBP,SLG,OPS,OPS+,Pit,Str
0,1,Austin Voth\vothau01,2020,28,WSN,NL,11,11,1,0,...,0,0,1,0.281,0.351,0.571,0.923,148.0,895,565
1,2,Wander Suero\suerowa01,2020,28,WSN,NL,22,0,0,0,...,0,0,2,0.227,0.324,0.318,0.642,78.0,381,248
2,3,Stephen Strasburg\strasst01,2020,31,WSN,NL,2,2,0,0,...,0,0,0,0.364,0.391,0.546,0.937,154.0,83,52
3,4,Max Scherzer\scherma01,2020,35,WSN,NL,12,12,1,0,...,0,0,6,0.260,0.319,0.424,0.742,102.0,1212,793
4,5,Anibal Sanchez\sanchan01,2020,36,WSN,NL,11,11,0,0,...,0,2,0,0.313,0.371,0.536,0.907,146.0,971,602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4592,4593,Jonathan Broxton\broxtjo01,2015,31,TOT,NL,66,0,0,0,...,0,0,0,0.266,0.329,0.437,0.766,112.0,997,656
4593,4594,Aaron Brooks\brookaa01,2015,25,TOT,AL,13,9,0,0,...,1,0,0,0.322,0.368,0.520,0.888,143.0,885,570
4594,4595,Matthew Boyd\boydma01,2015,24,TOT,AL,13,12,0,0,...,2,0,4,0.313,0.367,0.612,0.979,164.0,1003,625
4595,4596,Joe Blanton\blantjo01,2015,34,TOT,ML,36,4,0,0,...,1,0,2,0.240,0.279,0.389,0.668,82.0,1156,754
4596,4597,Luis Avilan\avilalu01,2015,25,TOT,NL,73,0,0,0,...,1,1,2,0.239,0.292,0.373,0.665,89.0,822,534

In [6]:
roster_df

     Year           Player
0    2019     Shane Bieber
1    2019  Aroldis Chapman
2    2019      Gerrit Cole
3    2019    Lucas Giolito
4    2019     Shane Greene
..    ...              ...
147  2015     Darren O'Day
148  2015     Glen Perkins
149  2015      David Price
150  2015       Chris Sale
151  2015  Hector Santiago

[152 rows x 2 columns]

In [7]:
stats_df[['Player Name','Shortname']] = stats_df.Player.str.split('\\', expand=True)
stats_df['K%'] = stats_df['K%'].str.strip('%').astype(float)
stats_df['BB%'] = stats_df['BB%'].str.strip('%').astype(float)
cleaned_stats_df = stats_df.drop(columns = ['Player','Rk','Tm','Lg','G','GS','CG','SHO','GF','W','L','W-L%',
                        'SV','IP','H','R','ER','BB','SO','FIP','WP','BA','OBP','SLG','OPS',
                       'OPS+','Pit','Str','BAbip','HR','BF','AB','HBP','SH','SF','GDP','SB',
                       'CS','PO','BK','2B','3B','IBB']).copy()

C:\Users\thepi\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
<ipython-input-7-aa8cb7b5fdf2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats_df['K%'] = stats_df['K%'].str.strip('%').astype(float)
<ipython-input-7-aa8cb7b5fdf2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats_df['BB%'] = stats_df['BB%'].str.strip('%').astype(float)

In [8]:
cleaned_stats_df = cleaned_stats_df.reindex(columns = ['Player Name','Shortname','Year','Age',
                                                     'ERA','ERA+','K%','BB%'])
cleaned_stats_df = cleaned_stats_df.loc[cleaned_stats_df['Year'] != 2020,:]
cleaned_stats_df

            Player Name  Shortname  Year  Age   ERA   ERA+    K%  BB%
736         Austin Voth   vothau01  2019   27   3.3  134.0  25.3  7.5
737        Wander Suero  suerowa01  2019   27  4.54   97.0  27.4  8.8
738   Stephen Strasburg  strasst01  2019   30  3.32  133.0  29.9  6.7
739           Tony Sipp   sippto01  2019   35  4.71   95.0  19.6  9.8
740        Max Scherzer  scherma01  2019   34  2.92  151.0  35.1  4.8
...                 ...        ...   ...  ...   ...    ...   ...  ...
4592   Jonathan Broxton  broxtjo01  2015   31  4.62   86.0  24.5  8.6
4593       Aaron Brooks  brookaa01  2015   25  6.67   60.0  15.2  5.6
4594       Matthew Boyd   boydma01  2015   24  7.53   54.0  17.1  7.9
4595        Joe Blanton  blantjo01  2015   34  2.84  143.0  25.6  5.2
4596        Luis Avilan  avilalu01  2015   25  4.05   95.0  22.3  6.8

[3081 rows x 8 columns]

In [13]:
cleaned_stats_df['K%'] = cleaned_stats_df['K%']/100
cleaned_stats_df['BB%'] = cleaned_stats_df['BB%']/100

In [14]:
cleaned_stats_df.to_csv('league_stats.csv')

In [15]:
merged_df = pd.merge(roster_df, cleaned_stats_df,
                     left_on=['Player','Year'],right_on=['Player Name','Year'],how='left')
merged_df

,Year,Player,Player Name,Shortname,Age,ERA,ERA+,K%,BB%
0,2019,Shane Bieber,Shane Bieber,biebesh01,24.0,3.28,147.0,0.302,0.047
1,2019,Aroldis Chapman,Aroldis Chapman,chapmar01,31.0,2.21,206.0,0.362,0.106
2,2019,Gerrit Cole,Gerrit Cole,colege01,28.0,2.5,185.0,0.399,0.059
3,2019,Lucas Giolito,Lucas Giolito,giolilu01,24.0,3.41,134.0,0.323,0.081
4,2019,Shane Greene,Shane Greene,greensh02,30.0,2.3,207.0,0.254,0.068
...,...,...,...,...,...,...,...,...,...
147,2015,Darren O'Day,Darren O'Day,odayda01,32.0,1.52,272.0,0.319,0.055
148,2015,Glen Perkins,Glen Perkins,perkigl01,32.0,3.32,123.0,0.227,0.042
149,2015,David Price,David Price,priceda01,29.0,2.45,164.0,0.253,0.053
150,2015,Chris Sale,Chris Sale,salech01,26.0,3.41,114.0,0.321,0.049
151,2015,Hector Santiago,Hector Santiago,santihe01,27.0,3.59,105.0,0.209,0.092

In [16]:
merged_df.drop(columns = 'Player',inplace=True)
merged_df

     Year      Player Name  Shortname   Age   ERA   ERA+     K%    BB%
0    2019     Shane Bieber  biebesh01  24.0  3.28  147.0  0.302  0.047
1    2019  Aroldis Chapman  chapmar01  31.0  2.21  206.0  0.362  0.106
2    2019      Gerrit Cole   colege01  28.0   2.5  185.0  0.399  0.059
3    2019    Lucas Giolito  giolilu01  24.0  3.41  134.0  0.323  0.081
4    2019     Shane Greene  greensh02  30.0   2.3  207.0  0.254  0.068
..    ...              ...        ...   ...   ...    ...    ...    ...
147  2015     Darren O'Day   odayda01  32.0  1.52  272.0  0.319  0.055
148  2015     Glen Perkins  perkigl01  32.0  3.32  123.0  0.227  0.042
149  2015      David Price  priceda01  29.0  2.45  164.0  0.253  0.053
150  2015       Chris Sale   salech01  26.0  3.41  114.0  0.321  0.049
151  2015  Hector Santiago  santihe01  27.0  3.59  105.0  0.209  0.092

[152 rows x 8 columns]

In [17]:
merged_df.to_csv('Resources/roster_and_stats_merged.csv')