Scope: Our project is to uncover data trends among all star MLB pitchers from 2016-2021. We will examine relationships between their strikeout %, ERA (earned run average) , BB (walk)%, in their all star seasons, as well as some of their physical dimensions and place of birth (state if domestic, country if foreign born).

In [56]:
import pandas as pd
from pprint import pprint
import requests

In [57]:
fpath = '2015-2020_alldata_clean.csv'
player_stats= pd.read_csv(fpath)
fpath = '2015_2019_All_Star_Rosters.csv'
allstar_rosters=pd.read_csv(fpath)

In [58]:
stats_df = player_stats.dropna()
roster_df = allstar_rosters

In [59]:
stats_df

,Rk,Player,Year,Age,Tm,Lg,G,GS,CG,SHO,...,PO,BK,WP,BA,OBP,SLG,OPS,OPS+,Pit,Str
0,1,Austin Voth\vothau01,2020,28,WSN,NL,11,11,1,0,...,0,0,1,0.281,0.351,0.571,0.923,148.0,895,565
1,2,Wander Suero\suerowa01,2020,28,WSN,NL,22,0,0,0,...,0,0,2,0.227,0.324,0.318,0.642,78.0,381,248
2,3,Stephen Strasburg\strasst01,2020,31,WSN,NL,2,2,0,0,...,0,0,0,0.364,0.391,0.546,0.937,154.0,83,52
3,4,Max Scherzer\scherma01,2020,35,WSN,NL,12,12,1,0,...,0,0,6,0.260,0.319,0.424,0.742,102.0,1212,793
4,5,Anibal Sanchez\sanchan01,2020,36,WSN,NL,11,11,0,0,...,0,2,0,0.313,0.371,0.536,0.907,146.0,971,602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4592,4593,Jonathan Broxton\broxtjo01,2015,31,TOT,NL,66,0,0,0,...,0,0,0,0.266,0.329,0.437,0.766,112.0,997,656
4593,4594,Aaron Brooks\brookaa01,2015,25,TOT,AL,13,9,0,0,...,1,0,0,0.322,0.368,0.520,0.888,143.0,885,570
4594,4595,Matthew Boyd\boydma01,2015,24,TOT,AL,13,12,0,0,...,2,0,4,0.313,0.367,0.612,0.979,164.0,1003,625
4595,4596,Joe Blanton\blantjo01,2015,34,TOT,ML,36,4,0,0,...,1,0,2,0.240,0.279,0.389,0.668,82.0,1156,754
4596,4597,Luis Avilan\avilalu01,2015,25,TOT,NL,73,0,0,0,...,1,1,2,0.239,0.292,0.373,0.665,89.0,822,534

In [60]:
roster_df

     Year           Player
0    2019     Shane Bieber
1    2019  Aroldis Chapman
2    2019      Gerrit Cole
3    2019    Lucas Giolito
4    2019     Shane Greene
..    ...              ...
147  2015     Darren O'Day
148  2015     Glen Perkins
149  2015      David Price
150  2015       Chris Sale
151  2015  Hector Santiago

[152 rows x 2 columns]

In [61]:
stats_df[['Player Name','Shortname']] = stats_df.Player.str.split('\\', expand=True)
cleaned_stats_df = data_df.drop(columns = ['Player','Rk','Tm','Lg','G','GS','CG','SHO','GF','W','L','W-L%',
                        'SV','IP','H','R','ER','BB','SO','FIP','WP','BA','OBP','SLG','OPS',
                       'OPS+','Pit','Str','BAbip','HR','BF','AB','HBP','SH','SF','GDP','SB',
                       'CS','PO','BK','2B','3B','IBB']).copy()

C:\Users\thepi\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [62]:
cleaned_stats_df = cleaned_stats_df.reindex(columns = ['Player Name','Shortname','Year','Age',
                                                     'ERA','ERA+','K%','BB%'])
cleaned_stats_df.head()

         Player Name  Shortname  Year  Age   ERA   ERA+      K%    BB%
0        Austin Voth   vothau01  2020   28  6.34   68.0  19.60%  8.00%
1       Wander Suero  suerowa01  2020   28   3.8  115.0  27.50%  9.80%
2  Stephen Strasburg  strasst01  2020   31  10.8   43.0   8.70%  4.40%
3       Max Scherzer  scherma01  2020   35  3.74  116.0  31.20%  7.80%
4     Anibal Sanchez  sanchan01  2020   36  6.62   65.0  17.60%  7.40%

In [63]:
merged_df = pd.merge(roster_df, cleaned_stats_df,
                     left_on=['Player','Year'],right_on=['Player Name','Year'],how='left')
merged_df

,Year,Player,Player Name,Shortname,Age,ERA,ERA+,K%,BB%
0,2019,Shane Bieber,Shane Bieber,biebesh01,24.0,3.28,147.0,30.20%,4.70%
1,2019,Aroldis Chapman,Aroldis Chapman,chapmar01,31.0,2.21,206.0,36.20%,10.60%
2,2019,Gerrit Cole,Gerrit Cole,colege01,28.0,2.5,185.0,39.90%,5.90%
3,2019,Lucas Giolito,Lucas Giolito,giolilu01,24.0,3.41,134.0,32.30%,8.10%
4,2019,Shane Greene,Shane Greene,greensh02,30.0,2.3,207.0,25.40%,6.80%
...,...,...,...,...,...,...,...,...,...
147,2015,Darren O'Day,Darren O'Day,odayda01,32.0,1.52,272.0,31.90%,5.50%
148,2015,Glen Perkins,Glen Perkins,perkigl01,32.0,3.32,123.0,22.70%,4.20%
149,2015,David Price,David Price,priceda01,29.0,2.45,164.0,25.30%,5.30%
150,2015,Chris Sale,Chris Sale,salech01,26.0,3.41,114.0,32.10%,4.90%
151,2015,Hector Santiago,Hector Santiago,santihe01,27.0,3.59,105.0,20.90%,9.20%

In [65]:
merged_df.drop(columns = 'Player',inplace=True)
merged_df

     Year      Player Name  Shortname   Age   ERA   ERA+      K%     BB%
0    2019     Shane Bieber  biebesh01  24.0  3.28  147.0  30.20%   4.70%
1    2019  Aroldis Chapman  chapmar01  31.0  2.21  206.0  36.20%  10.60%
2    2019      Gerrit Cole   colege01  28.0   2.5  185.0  39.90%   5.90%
3    2019    Lucas Giolito  giolilu01  24.0  3.41  134.0  32.30%   8.10%
4    2019     Shane Greene  greensh02  30.0   2.3  207.0  25.40%   6.80%
..    ...              ...        ...   ...   ...    ...     ...     ...
147  2015     Darren O'Day   odayda01  32.0  1.52  272.0  31.90%   5.50%
148  2015     Glen Perkins  perkigl01  32.0  3.32  123.0  22.70%   4.20%
149  2015      David Price  priceda01  29.0  2.45  164.0  25.30%   5.30%
150  2015       Chris Sale   salech01  26.0  3.41  114.0  32.10%   4.90%
151  2015  Hector Santiago  santihe01  27.0  3.59  105.0  20.90%   9.20%

[152 rows x 8 columns]